<!DOCTYPE html>

<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta http-equiv="X-UA-Compatible" content="ie=edge">

<script src="js/angular.min.js" ></script>

<title>Document</title>

</head>

<body >


<div ng-app="App" ng-controller="opr">


<p>Numero 1:<input type="number" ng-model="n1"></p>

<p>Numero 2:<input type="number" ng-model="n2"></p>

<p><select ng-model="operator">

<option>Suma</option>

<option>Resta</option>

<option>Multiplicacion</option>

<option>Division</option>

</select></p>

<script>


angular.module('App', [])

.controller('opr', function($scope) {

$scope.result = function() {

if ($scope.operator == 'Suma') {

return $scope.n1 + $scope.n2;

}

if ($scope.operator == 'Resta') {

return $scope.n1 - $scope.n2;

}

if ($scope.operator == 'Multiplicacion') {

return $scope.n1 * $scope.n2;

}

if ($scope.operator == 'Division') {

return $scope.n1 / $scope.n2;

}

};

});</script>

<p>Total: {{ result() }}</p>



</div>




</body>

</html>

